@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-primary: #D4AF37;
  --color-gold-50: #fdfcf2;
  --color-gold-100: #f8f6db;
  --color-gold-200: #f0ecb0;
  --color-gold-300: #e5dc7a;
  --color-gold-400: #d9c84e;
  --color-gold-500: #d4af37;
  --color-gold-600: #b58b2a;
  --color-gold-700: #916723;
  --color-gold-800: #785422;
  --color-gold-900: #674821;
  --color-gold-950: #3d270f;
  --color-accent-dark: #161616;
  --color-background-dark: #0A0A0A;
  --color-whatsapp: #25D366;

  /* Custom Fonts */
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}